In [89]:
import requests
import pandas as pd
import datetime
import time
import random

In [99]:
# 建立時間
begin = datetime.datetime(2010, 1, 1)
end = datetime.datetime.now() 
step = datetime.timedelta(days=365)
DatePeriod = []

while begin <= end:
    DatePeriod.append(begin.strftime('%Y%m%d'))
    begin += step
    
#計算到今年
DatePeriod.append(datetime.datetime.now().strftime('%Y%m%d'))

In [100]:
DatePeriod

['20100101',
 '20110101',
 '20120101',
 '20121231',
 '20131231',
 '20141231',
 '20151231',
 '20161230',
 '20171230',
 '20181230',
 '20191230',
 '20200922']

In [106]:
r = requests.get(url)

In [107]:
dir(r)

['__attrs__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__nonzero__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_content',
 '_content_consumed',
 '_next',
 'apparent_encoding',
 'close',
 'connection',
 'content',
 'cookies',
 'elapsed',
 'encoding',
 'headers',
 'history',
 'is_permanent_redirect',
 'is_redirect',
 'iter_content',
 'iter_lines',
 'json',
 'links',
 'next',
 'ok',
 'raise_for_status',
 'raw',
 'reason',
 'request',
 'status_code',
 'text',
 'url']

In [108]:
dataframe = pd.DataFrame()
for year in DatePeriod:
    url = 'https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date='+ year +'&stockNo=2330'
    r = requests.get(url)
    print(r.status_code)
    dataframe = dataframe.append(pd.DataFrame(r.json()['data'], columns=r.json()['fields']))
    # df = pd.DataFrame(columns=["DATE", "TV", "TO", "OPEN", "HIGH", "LOW", "CLOSE", "PFL", "NT"])
    
    # 避免被黑名單
    time.sleep(random.randint(20, 60))

200
200
200
200
200
200
200
200
200
200
200
200

In [109]:
dataframe.tail(10)

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
6,109/09/09,"40,727,362","17,312,991,408",425.00,428.00,423.00,427.00,-4.00,"21,740"
7,109/09/10,"35,281,921","15,275,112,115",432.50,435.00,430.50,435.00,+8.00,"18,244"
8,109/09/11,"34,893,469","15,171,902,036",435.50,436.50,432.50,436.50,+1.50,"14,647"
9,109/09/14,"39,325,833","17,282,659,859",436.00,442.00,435.50,441.00,+4.50,"19,854"
10,109/09/15,"39,661,449","17,608,049,536",440.50,447.00,439.50,445.00,+4.00,"21,845"
11,109/09/16,"70,608,238","32,379,722,344",460.00,462.00,455.50,458.00,+13.00,"38,172"
12,109/09/17,"44,420,506","20,006,793,320",453.00,455.00,446.50,448.50,X0.00,"26,718"
13,109/09/18,"52,999,922","23,598,268,654",447.00,449.50,443.00,444.00,-4.50,"20,849"
14,109/09/21,"40,193,920","17,842,486,882",443.50,450.00,440.00,440.00,-4.00,"25,834"
15,109/09/22,"36,842,639","16,140,184,501",440.00,441.00,436.00,437.00,-3.00,"22,692"